*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: orange;
}

.textm{
    display: none;
}

.logo{
    display: none;
}

.fa-brands{
    font-size: 2rem;
    padding: 0 15px;
    color: white;
    cursor: pointer;
}

.fa-solid{
    font-size: 2rem;
    padding: 0 15px;
    color: white;
    cursor: pointer;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header{
    background-color: #302e2e;
    height: 100px;
    display: flex;
    align-items: center;
    color: #FFF;
}

header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.list-items li a{
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}

header .menu{
    justify-content: space-between;
}

.banner{
    width: 100%;
    height: 850px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    top: 100px;
    left: 0;
    width: 100%;
}

.banner2{
    width: 100%;
    height: 150px;
    background-color: #302e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner2 h1{
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}

.banner3{
    width: 100%;
    height: 1400px;
    background-image: url(./img/banner\ -\ Copia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Aqui estou começando a sessão de número 4! */

.section3{
    width: 100%;
    height: 500px;
    background-color: #302e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre h1{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 30px;
}

.sobre p{
    color: #FFF;
    font-size: 1.1rem;
    margin-left: 30px;
    margin-top: 15px;
    width: 70%;
}


.mapa{
     width: 70%;
}

.mapa h1{
    color: #FFF;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-right: 100px;
}

.mapa1{
    width: 600px;
    height: 400px;
    background-color: #FFF;
    margin-right: 120px;
    border: 4px solid black;
}

/* Footer */

.section4{
    width: 100%;
    height: 200px;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reali{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}

.reali img{
    width: 50%;
    height: 60px;
   padding-bottom: 8px;
}



.text{
    color: #302e2e;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

strong{
    color: #FFF;
}

.icons2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    color: black;
}

.icons2 .fa-instagram{
    color: #302e2e;
}

.icons2 .fa-tiktok{
    color: #302e2e;
}

.icons2 .fa-solid{
    color: #302e2e;
}

/* Resposivo */

@media(max-width:1595px) {
    
    body{
        background-color: #302e2e;
    }

    .section4{
        background-color: orange;
    }
}

@media(max-width:1509px){
   .banner3{
    width: 100%;
    height: 100vh;
   } 
}

@media(max-width:1395px){

.section3{
    width: 100%;
    height: 900px;
    background-color: #302e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 .mapa{
    margin-bottom: 50px;
}

}

@media(max-width:1211px){

    .banner {
        display: none;
    } 
    
    header .list-items{
        display: none;
    }

    .textm{
        display: block;
        color: orange;
        font-size: 1.0rem;
        margin-left: 150px;
        margin-bottom: 40px;
    }

    .flex-container{
        margin-top: 60px;
    }


    @media(max-width: 1001px){
        .banner3{
            width: 100%;
            height: 700px;
           }
    }

    @media(max-width: 810px){
        
        .banner3{
            width: 100%;
            height: 500px;
           }
        
        .section3{
            width: 100%;
            height: 700px;
            background-color: #302e2e;
        } 

        .sobre h1{
            margin-top: 50px;
        }

        .sobre p{
            font-size: 1.1rem;
        }

        .mapa h1{
            display: none;
        }

        .mapa1{
            display: none;
        }

        .logo img{
            margin-top: 100px;
        }

        .section4{
            width: 100%;
            height: 400px;
            color: orange;
            display: flex;
            flex-direction: column;
        }

        .text{
            display: none;
        }

        .reali img{
            width: 100%;
            height: 100px;
        }

        .icons2{
            margin-top: 20px;
        }
    }
    
}

